# БАЗЫ ДАННЫХ
POSTGRES_DB_AUTH=name_db
POSTGRES_USER_AUTH=user_db
POSTGRES_PASSWORD_AUTH=password

POSTGRES_DB_APP=name_db
POSTGRES_USER_APP=user_db
POSTGRES_PASSWORD_APP=password
# AUTH_SERVICE
DB_USER_AUTH=user_db
DB_PASSWORD_AUTH=password_db
DB_HOST_AUTH=host_db
DB_PORT_AUTH=5432
DB_NAME_AUTH=name_db

DB_HOST_ALEMBIC=localhost
DB_PORT_ALEMBIC_AUTH=5435
DB_PORT_ALEMBIC_APP=5436

SECRET_KEYS=your_secret_key
ALGORITHMS=HS256
# APP_SERVICE
DB_USER_APP=name_db
DB_PASSWORD_APP=password_db
DB_HOST_APP=host_db
DB_PORT_APP=5432
DB_NAME_APP=name_db